<ion-header>
  <ion-toolbar class="ion-text-left">
    <ion-buttons slot="start">
      <!-- tab1 é a tab de equipes -->
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Cadastro de Equipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
    <form [formGroup]="validateTeam" (ngSubmit)="onSubmit(validateTeam.value)">

    <!---Nome-->
    <ion-item>
        <ion-label position="floating" color="medium">Nome da Equipe</ion-label>
        <ion-input type="text" formControlName="nameTeam"></ion-input>
    </ion-item>

    <!---Validação do Nome-->
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.nameTeam">
          <div class="error-message" *ngIf="validateTeam.get('nameTeam').hasError(validation.type) && (validateTeam.get('nameTeam').dirty || validateTeam.get('nameTeam').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
    </div>

    <!--Esporte-->
    <ion-item>
      <ion-label color="medium">Esporte</ion-label>
      <ion-select placeholder="Selecione" formControlName="sports">
      <ion-select-option value="futebol">Futebol</ion-select-option>
      <ion-select-option value="basquete">Basquete</ion-select-option>
      </ion-select>
    </ion-item>

    <!--Acesso-->
    <ion-item>
      <ion-label color="medium">Acesso</ion-label>
      <ion-select placeholder="Selecione" formControlName="access">
        <ion-select-option value="pri">Privado</ion-select-option>
        <ion-select-option value="pub">Público</ion-select-option>
      </ion-select>
    </ion-item>

    <!--Descrição-->
    <ion-item>
      <ion-label position="floating" color="medium">Descrição (opcional)</ion-label>
      <ion-textarea type="text" formControlName="desc"></ion-textarea>
    </ion-item>

    <ion-row class="ion-text-center">
        <ion-col align-self-center>
            <ion-button type="submit" href="../tabs/tab1" class="ion-padding" routerDirection="forward" color="warning"[disabled]="!validateTeam.valid">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <p padding>Concluir</p>
            </ion-button>
        </ion-col>
    </ion-row>
</form>
</ion-content>
