<ion-header>
  <ion-toolbar class="ion-text-left">
    <ion-buttons slot="start">
      <!-- tab1 é a tab de equipes -->
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Cadastro de Equipe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
    <form #form="ngForm" (ngSubmit)="cad-equipe(form)">

    <!---Nome-->
    <ion-item>
        <ion-label position="floating" color="medium">Nome da Equipe</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>

    <!--Esporte-->
    <ion-item>
      <ion-label color="medium">Esporte</ion-label> <ion-select placeholder="Selecione">
      <ion-select-option value="futebol">Futebol</ion-select-option>
      <ion-select-option value="basquete">Basquete</ion-select-option>
      </ion-select>
    </ion-item>

<!-- Membros
    <ion-item>
      <ion-label color="medium">Membros iniciais</ion-label>
      <ion-select multiple="true" placeholder="Selecione">
          <ion-select-option value="1">Futebol</ion-select-option>
          <ion-select-option value="volei">Vôlei</ion-select-option>
          <ion-select-option value="basquete">Basquete</ion-select-option>
      </ion-select>
    </ion-item>
-->
    <!--Acesso-->
    <ion-item>
      <ion-label color="medium">Acesso</ion-label>
      <ion-select placeholder="Selecione">
        <ion-select-option value="pri">Privado</ion-select-option>
        <ion-select-option value="pub">Público</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- BOTÕES
    <ion-row class="ion-text-center">
        <ion-col align-self-center>
            <ion-button href="../add-members" class="ion-padding" routerDirection="back" color="medium">
                <ion-icon name="person-add"></ion-icon>
                <p padding>Membros</p>
            </ion-button>
        </ion-col>
    </ion-row>
-->

    <ion-row class="ion-text-center">
        <ion-col align-self-center>
            <ion-button type="subimit" href="../tabs/tab1" class="ion-padding" routerDirection="forward" color="warning"[disabled]="form.invalid">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <p padding>Concluir</p>
            </ion-button>
        </ion-col>
    </ion-row>
</form>
</ion-content>
