<ion-header>
  <ion-toolbar class="ion-text-left">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/initial"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">

    <form [formGroup]="validateUser" (ngSubmit)="onSubmit(validateUser.value)">
      <!---Nome-->
      <ion-item>
          <ion-label position="floating" color="medium">Nome</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <!---Validação do Nome-->
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.name">
            <div class="error-message" *ngIf="validateUser.get('name').hasError(validation.type) && (validateUser.get('name').dirty || validateUser.get('name').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
      </div>
    <!---Sobrenome-->
    <ion-item>
        <ion-label position="floating" color="medium">Sobrenome</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>

    <!--Validação do Sobrenome -->
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.lastname">
          <div class="error-message" *ngIf="validateUser.get('lastname').hasError(validation.type) && (validateUser.get('lastname').dirty || validateUser.get('lastname').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
    </div>

    <!-- Email -->
    <ion-item>
        <ion-label position="floating" color="medium">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <!--Validação de e-mail ^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9]+?.[a-zA-Z0-9]+$-->
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="validateUser.get('email').hasError(validation.type) && (validateUser.get('email').dirty || validateUser.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
    </div>

    <!-- CPF -->
    <ion-item>
        <ion-label position="floating" color="medium">CPF</ion-label>
        <ion-input type="text" formControlName="cpf"></ion-input>
    </ion-item>

    <!--Validação de CPF-->
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.cpf">
          <div class="error-message" *ngIf="validateUser.get('cpf').hasError(validation.type) && (validateUser.get('cpf').dirty || validateUser.get('cpf').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
    </div>

    <div formGroupName="matching_passwords">
        <ion-item>
          <ion-label position="floating" color="medium">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validateUser.get('matching_passwords').get('password').hasError(validation.type) && (validateUser.get('matching_passwords').get('password').dirty || validateUser.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating" color="medium">Confirmar Senha</ion-label>
          <ion-input type="password" formControlName="confirm_password"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="validateUser.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validateUser.get('matching_passwords').get('confirm_password').dirty || validateUser.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
            </div>
          </ng-container>
        </div>
    </div>

  <!-- These validations are for the form group -->
  <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="validateUser.get('matching_passwords').hasError(validation.type) && (validateUser.get('matching_passwords').get('confirm_password').dirty || validateUser.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

<div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validateUser.get('terms').hasError(validation.type) && (validateUser.get('terms').dirty || validateUser.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

<ion-button color="warning" class="submit-btn" expand="full" type="submit" [disabled]="!validateUser.valid">Concluir</ion-button>


</form>
</ion-content>
