<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding margin-right>
    <ion-title padding-top id="nomeEquipe"><b>Nome da equipe</b></ion-title>

    <ion-item padding-top>
        <ion-col align-self-left>
            <ion-label id="labelItem">Administrador</ion-label>
        </ion-col>
        <ion-col align-self-right text-right>
            <ion-label id="textItem">Carlinhos</ion-label>
        </ion-col>
    </ion-item>

    <ion-item>
        <ion-col align-self-left>
            <ion-label id="labelItem">Acesso</ion-label>
        </ion-col>
        <ion-col align-self-right text-right>
            <ion-label id="textItem">Privado</ion-label>
        </ion-col>
    </ion-item>

    <ion-item>
        <ion-col align-self-left>
            <ion-label id="labelItem">Esporte</ion-label>
        </ion-col>
        <ion-col align-self-right text-right>
            <ion-label id="textItem">Basquete</ion-label>
        </ion-col>
    </ion-item>

    <ion-item>
        <ion-col align-self-left>
            <ion-row>
                <ion-label padding-top padding-bottom id="labelItem">Descrição</ion-label>
            </ion-row>
            <ion-row>
                <ion-text text-justify padding-bottom id="textItem">
                    Sometimes I wish I was a nightingale
                    I'd make my lullaby a fairytale
                    Sometimes I feel like I'm a mockingbird,
                    Mimicking the songs I've already heard
                    I want to dance on the horizon line
                    But there is something I am caged behind
                    I have a heart made for take flight
                </ion-text>
            </ion-row>
        </ion-col>
    </ion-item>

    <ion-button padding color="warning">Ver membros</ion-button>

</ion-content>
